<head>
  <link rel='stylesheet' href='style.css' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src='twitterApp.js' type='text/JavaScript'></script>
</head>
<body>
  <div class="wrapper_front">
  <div id="container_front">
  <form name="Ruby Form">
    <h1>What band or album should we search for?</h3>
    <br/ >
    <input class="form_formatting" type="text" name="searchTerm">
    <h1>What is the Twitter handle of the band?</h3>
    <br/ >
    <input class="form_formatting" type="text" name="searchHandle">  
    <br />
    <br />
    <div id="button_position">
      <input class="button_formatting" type="submit" value="Search" formaction="/map/" method="get">
    </div>
  </form>
  </div>
  </div>
</body>