<head>
  <link rel='stylesheet' href='../../style.css' type='text/css'>
</head>
<body>
  <div class='wrapper'>
    <h3>Here is a map of your tweeters and followers:</h3>
      <h3>Search Term: #<%= @search_term %></h3>
      <h3>Search Handle: @<%= @search_handle %></h3>
      <br />
    <div id='container'>
      <img src=<%= @m %> />
    </div>
  </div>
</body>
